@import "tailwindcss";

@theme{
    --font-archivo: 'Archivo', sans-serif;
    --font-figtree: 'Figtree', sans-serif;
    --color-primary: #FF637E;
    --color-accent: #E9A825;

    --color-background: var(--background);
    --color-text: var(--text);
    --color-detail: var(--detail);
    --color-card-background: var(--card-background);
    --color-border-color: var(--border-color);

    --text-normal: 1.15rem;
    --spacing-section: 1.5rem;

    --color-carcoal: #1F2937;
    --color-blush: #fbebec;
    --color-peach : #fcd3a7;
    --color-lilac : #e7d4f9;
    --color-sage : #dbecd7;
    --color-lemon : #fdf0aa;
    --color-sky : #dee7f6;
    --color-red: #c53d4b;
}
:root {
    --background: #FAFAF8;
    --text: #1F2937;
    --detail: #6B7280;
    --card-background: #F4F4F0;
    --border-color: #BFBFBF;
}

.dark {
    --background: #1F2937;
    --text: #FAFAF8;
    --detail: #D1D5DB;
    --card-background: #374151;
    --border-color: #4B5563;
}
svg{
    @apply text-text
}
.main-transition{
    @apply transition-colors duration-300 ease-linear;
}
body{
    @apply bg-background ;
}
.description{
    @apply text-detail text-xl leading-10;
}
p,span,li,a,input{
    @apply font-figtree text-text;
}
h1,h2,h3{
    @apply font-archivo;
}
h2{
    @apply text-xl sm:text-2xl md:text-3xl font-bold mb-4 text-text ;
}
h3{
    @apply text-lg sm:text-xl font-bold mb-4 text-text;
}
h4{
    @apply text-normal sm:text-lg font-bold mb-4 text-text;
}
.text-error{
    @apply text-red text-sm mt-2 self-start;
}
nav a{
    @apply bg-card-background font-figtree p-4 border border-transparent rounded text-base font-semibold hover:border-border-color transition-colors duration-300 ease-linear ;
}
.detail{
    @apply text-[12px] sm:text-sm text-detail font-semibold tracking-wider ;
}
.page{
    @apply flex-1 h-screen overflow-y-auto bg-background p-2 sm:p-4 md:p-section;
}
.project-card{
    @apply bg-card-background shadow rounded p-section;
}
.project-grid{
    @apply grid gap-4 lg:grid-cols-[1.6fr_0.9fr];
}
.tag{
    @apply inline-flex items-center rounded-full px-3 py-1 text-sm font-semibold text-text;
}

.p-section{
    @apply p-2 sm:p-4 md:p-section;
}


/* alert custom */

.alert {
    @apply bg-card-background text-text shadow;
}

.alert-title {
    @apply text-2xl font-bold mb-4 text-text;
}

.alert-button {
    @apply bg-primary text-background px-4 py-2 rounded-md font-bold cursor-pointer border-2 border-primary hover:bg-background hover:text-primary hover:border-primary transition-all duration-300 shadow;
}

.cancel-button{
    @apply bg-[#49af29] text-background px-4 py-2 rounded-md font-bold cursor-pointer border-2 border-[#49af29] hover:bg-background hover:text-lime-600 hover:border-lime-600 transition-all duration-300 shadow;
}
.confirm-button{
    @apply bg-red text-background px-4 py-2 rounded-md font-bold cursor-pointer border-2 border-red hover:bg-background hover:text-red hover:border-red transition-all duration-300 shadow;
}
/* Loader style */

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
